<html>
  <head>
    <title>Vue Template - Directives</title>
  </head>
  <body>
    <div id="app">
      <a v-if="flag">두잇 Vue.js</a>
      <ul>
        <li v-for="system in systems">{{ system }}</li>
      </ul>
      <p v-show="flag">두잇 Vue.js</p>
      <h5 v-bind:id="uid">뷰 입문서</h5>
      <button v-on:click="doAction">실행</button>
      <button v-on:click="doCancel">취소</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          flag: true,
          systems: ['android', 'ios', 'window'],
          uid: 10
        },
        methods: {
          doAction: function() {
            return alert('실행하였습니다.');
          },
          doCancel: function() {
            return alert('취소하였습니다.')
          }
        }
      });
    </script>
  </body>
</html>
